%br
%br
%br
.container	
	= simple_form_for @map_post, url: video_map_posts_path do |m|
		= m.input :title
		= m.file_field :cover
		= m.input :content
		= m.input :cooX
		= m.input :cooY
		= m.input :fade_in
		= m.input :fade_out
		= m.input :lat
		= m.input :lng

		= m.button :submit, class: 'btn btn-primary'
	%br

	= link_to "Voltar", videos_path, class: "btn btn-primary"