.container	
	%h1 Novo Vídeo
	%br
	= simple_form_for @video, remote: true, authenticity_token: true do |f|
		%fieldset.form-group
			= f.label :Título
			= f.input_field :title, class: 'form-control'
			
		%fieldset.form-group
			= f.label :Capa
			= f.file_field :cover

		%fieldset.form-group
			= f.label :Url
			= f.input_field :url, class: 'form-control'
		
		= f.button :submit, class: 'btn btn-primary'
	%br

	= link_to "Voltar", videos_path, class: "btn btn-primary"